@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand: #424242;
    --color-brand-light: #797979;
    --color-brand-dark: #000000;
    --color-accent: #009051;
    --color-accent-light: #0096FF;
    --color-accent-dark: #941100;
    --font-poppins: 'Poppins', 'ui-sans-serif', 'system-ui';
    --shadow-bubble: 0 8px 20px rgba(0,0,0,0.15);
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
    --spacing-18: 4.5rem;
    --spacing-22: 5.5rem;
}

@layer base{
    h2, h3 {
        @apply text-brand-light; 
    }
    h1 {
        @apply text-xl sm:text-2xl text-brand;
    }
    h2 {
        @apply text-lg/loose sm:text-xl/loose font-semibold mb-2;
    }
    h3 {
        @apply text-sm/loose font-semibold;
    }
    p {
        @apply text-sm/loose text-brand-dark;
    }

    a {
        @apply relative z-20;
    }

    a[aria-current="true"] {
        @apply scale-110 text-brand-light;
    }

    a[aria-current="page"] {
        @apply scale-110 text-brand-light;
    }

    button {
        @apply relative z-20;
    }

    main {
        @apply scroll-smooth [-webkit-overflow-scrolling:touch];
    }
}

@layer components {
    .bubble-node {
        @apply w-34 h-34 flex items-center text-center text-white justify-center rounded-full shadow-bubble bg-brand cursor-pointer transition transform hover:scale-110;
    }

    .btn-cta {
        @apply text-brand-dark px-3 py-1 font-semibold rounded-full border border-brand-dark hover:text-white hover:bg-brand-dark hover:border-transparent active:bg-brand-dark active:text-white focus:outline-none focus:ring-2 focus:ring-brand-dark focus:bg-brand-dark focus:text-white focus:ring-offset-2 transition;
    }

    .link-nav {
        @apply no-underline text-brand text-sm font-medium hover:scale-110 hover:text-brand-light focus:scale-110 focus:text-brand-light active:scale-110 active:text-brand-light;
    }
    .section-nav{
        @apply no-underline text-brand text-sm font-medium hover:scale-110 hover:text-brand-light hover:underline focus:scale-110 focus:text-brand-light focus:underline active:scale-110 active:text-brand-light active:underline;
    }

    span.highlight > span:nth-child(n+2) {
        @apply hidden;
    }

    .sub-nav {
       @apply flex flex-row md:flex-col flex-nowrap justify-around w-auto max-md:space-x-6 max-md:overflow-x-auto px-4 max-md:py-2 backdrop-blur-md max-md:border-t border-black md:fixed md:top-[20rem] lg:top-[16rem] right-7 md:space-y-6 md:w-auto md:overflow-y-auto scroll-smooth [-webkit-overflow-scrolling:touch];
    }

    .error {
        @apply text-red-600;
    }

    .alert {
        @apply border rounded-md w-full p-4 m-4;
    }

    .alert-success {
        @apply bg-accent/30 border-accent;
    }

    .alert-error {
        @apply bg-red-600/30 border-red-600;
    }
}
